<div class="container">
  <h1>CURRENCIES</h1>
  <div class="row">
    <div class="col-xs-12">
      <input type="text" class="form-control narrow" ngModel required #currencyName>
      <button class="btn btn-success" (click)="onAddCurrency(currencyName.value)" [disabled]="currencyName.value.length == 0">Add Currency</button>
      <div class="nav navbar-nav navbar-right">
        <button class="btn btn-primary" (click)="onGet()">Get Currencies</button>
        <button class="btn btn-warning" (click)="onSave()">Save Currencies</button>
      </div>
      <table class="table table-striped table-bordered table-hover">
        <thead>
        <tr>
          <th scope="col" width="18%"></th>
          <th scope="col" width="50%">Name</th>
          <th scope="col" width="32%">Symbol</th>
        </tr>
        </thead>
        <tr *ngFor="let currency of currencyList; let i = index">
          <td>
            <button class="btn btn-warning" (click)="editCurrency != i ? editCurrency = i : editCurrency = null"><i class="glyphicon glyphicon-pencil"></i></button>
            <button class="btn btn-danger" (click)="onDeleteCurrency(i)"><i class="glyphicon glyphicon-trash"></i></button>
          </td>
          <td (blur)="onUpdate($event, 'newName', i)">
            <div [hidden]="editCurrency == i">{{ currency.name }}</div>
            <input type="text" [(ngModel)]="currency.name" value="{{ currency.name }}" class="form-control" [class.hidden]="editCurrency != i" (keyup.enter)="editCurrency = null" />
          </td>
          <td (blur)="onUpdate($event, 'newSymbol', i)">
            <div [hidden]="editCurrency == i">{{ currency.symbol | uppercase }}</div>
            <input type="text" [(ngModel)]="currency.symbol" value="{{ currency.symbol | uppercase }}" class="form-control" [class.hidden]="editCurrency != i" (keyup.enter)="editCurrency = null" />
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
